## Applying pyspark

In [5]:
# install pyspark
#!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 22.5 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 13.6 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488496 sha256=ff2fde03607a49e9ef803fe31d8d4a82a5b967d10ba5f72afd00db76f48ebf9f
  Stored in directory: /Users/fernandoleniz/Library/Caches/pip/wheels/95/13/41/f7f135ee114175605fb4f0a89e7389f3742aa6c1e1a5bcb657
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.1

In [1]:
sc

In [2]:
import warnings
warnings.filterwarnings("ignore")

Comands to start using hadoop: 

$start-dfs.sh
$start-yarn.sh

command to stop the process:

$stop-dfs.sh
$stop-yarn.sh

In [1]:
default_fs = spark._jsc.hadoopConfiguration().get("fs.defaultFS")

In [2]:
print("default_fs is: ", default_fs)

default_fs is:  hdfs://localhost:9000

In [3]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder \
    .appName("Read CSV from HDFS") \
    .getOrCreate()

# Relative Path in HDFS
# csv_file_path = "/first_CA_second_sem/TSM10.20240320205332.csv"

csv_file_path = "hdfs://localhost:9000/first_CA_second_sem/TSM10.20240320205332.csv"

# Read the CSV file into a DataFrame
df = spark.read.csv(csv_file_path, header=True, inferSchema=True)

24/03/22 21:02:57 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [4]:
# Show the DataFrame
df.show(5)

+---------+----------------+---------+------------+------------+--------------------+------------+---------+-------------+------+
|STATISTIC| Statistic Label|TLIST(M1)|       Month|C02487V03011|     Commodity group|C03409V04104|  Country|         UNIT| VALUE|
+---------+----------------+---------+------------+------------+--------------------+------------+---------+-------------+------+
| TSM10C01|Value of Imports|   201501|2015 January|         101|Total merchandise...|          AT|  Austria|Euro Thousand| 15321|
| TSM10C01|Value of Imports|   201501|2015 January|         101|Total merchandise...|          AU|Australia|Euro Thousand|  5064|
| TSM10C01|Value of Imports|   201501|2015 January|         101|Total merchandise...|          BE|  Belgium|Euro Thousand|109964|
| TSM10C01|Value of Imports|   201501|2015 January|         101|Total merchandise...|          BG| Bulgaria|Euro Thousand| 33988|
| TSM10C01|Value of Imports|   201501|2015 January|         101|Total merchandise...|          BR|   Brazil|Euro Thousand| 12169|
+---------+----------------+---------+------------+------------+--------------------+------------+---------+-------------+------+
only showing top 5 rows

In [7]:
df.printSchema()

root
 |-- STATISTIC: string (nullable = true)
 |-- Statistic Label: string (nullable = true)
 |-- TLIST(M1): integer (nullable = true)
 |-- Month: string (nullable = true)
 |-- C02487V03011: integer (nullable = true)
 |-- Commodity group: string (nullable = true)
 |-- C03409V04104: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- UNIT: string (nullable = true)
 |-- VALUE: integer (nullable = true)

In [9]:
df.columns

['STATISTIC',
 'Statistic Label',
 'TLIST(M1)',
 'Month',
 'C02487V03011',
 'Commodity group',
 'C03409V04104',
 'Country',
 'UNIT',
 'VALUE']

In [8]:
# Get statistical summary of the DataFrame
df.describe().show()

24/03/21 11:31:58 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+---------+----------------+------------------+------------+-----------------+--------------------+------------+---------+-------------+-----------------+
|summary|STATISTIC| Statistic Label|         TLIST(M1)|       Month|     C02487V03011|     Commodity group|C03409V04104|  Country|         UNIT|            VALUE|
+-------+---------+----------------+------------------+------------+-----------------+--------------------+------------+---------+-------------+-----------------+
|  count|   705012|          705012|            705012|      705012|           705012|              705012|      705012|   705012|       705012|           496279|
|   mean|     null|            null| 201911.0366972477|        null|5051.712121212121|                null|        null|     null|         null|9231.518990326007|
| stddev|     null|            null|261.32310506497976|        null|2875.646182107541|                null|        null|     null|         null|91717.59880938345|
|    min| TSM10C01|Value of Exports|            201501|  2015 April|               10|Animal and vegeta...|          AT|Australia|Euro Thousand|                0|
|    max| TSM10C02|Value of Imports|            202401|2024 January|             9008|Vegetables and fr...|    ZZWORX27|      USA|Euro Thousand|          7400502|
+-------+---------+----------------+------------------+------------+-----------------+--------------------+------------+---------+-------------+-----------------+

In [10]:
# Stop the SparkSession
spark.stop()